piligrim.5-star-roi.ru {
  encode gzip zstd
  @api path /api*
  handle @api {
    reverse_proxy api:4000
  }
  handle {
    reverse_proxy web:3000
  }
}

api.piligrim.5-star-roi.ru {
  encode gzip zstd
  reverse_proxy api:4000
}
